.ugent-bib{
    padding-bottom: 0.7em;
}

.ugent-bib-clickable{
    cursor: pointer;
}

.ugent-bib-abstract{
    display: none;
    border: 1px solid gray;
    background-color: #f7fafc;
    padding: 1em;
}

.ugent-bib-links{
    display: inline;
    margin-left: 0.7em;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 3px;
    font-size: small;
}


.ugent-bib-links a{
    padding-left: 3px;
    padding-right: 3px;
    color: gray;
}

.ugent-bib-abstract-link {
    font-weight: bold;
}
