.ugent-bib{
    padding-bottom: 0.7em;
}

.ugent-bib-links{
    display: inline;
    margin-left: 0.7em;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 3px;
    font-size: small;
}


.ugent-bib-links a{
    padding-left: 3px;
    padding-right: 3px;
    color: gray;
}
